{:target-type :virtualbox
 :usage-type :desktop-office
 :user {:name "initial"
        :password {:plain "test1234"}
        :email "test@provider.com"
        :ssh {:ssh-public-key {:password-store-single "scl/ssh/public-key"}
              :ssh-private-key {:password-store-multi "scl/ssh/private-key"}}
        :gpg {:gpg-public-key {:password-store-multi "scl/gpg/public-key"}
              :gpg-private-key {:password-store-multi "scl/gpg/private-key"}
              :gpg-passphrase {:password-store-single "scl/gpg/password"}}
        :credential-store [{:host "scl@repo.meissa-gmbh.de"
                            :orga-path "meissa"
                            :repo-name "credentials"
                            :port 29418
                            :protocol :ssh
                            :server-type :gitblit}
                           {:host "github.com"
                            :orga-path "DomainDrivenArchitecture"
                            :repo-name "password-store-for-teams"
                            :protocol :ssh
                            :server-type :github}]
        :git-credentials [{:host "repo.meissa-gmbh.de"
                           :port 29418
                           :protocol :ssh
                           :user-name {:plain "scl"}}]
        :desktop-wiki []}}
