{:provisioning  {:ip "192.168.56.104"
                 :login "initial"
                 :password "secure1234"}
 :user          {:name "test-user"
                 :password "xxx"
                 :email "test-user@mydomain.org"
                 :ssh {:ssh-pub-key "ssh-rsa AAGInwQ... test-users-key"
                       :ssh-prvate-key "-----BEGIN RSA PRIVATE KEY----- ..."}
                 :gpg {:gpg-public-key "-----BEGIN PGP PUBLIC KEY BLOCK----- ..."
                       :gpg-private-key "-----BEGIN PGP PRIVATE KEY BLOCK----- ..."
                       :gpg-passphrase "passphrase"}}}

