{:input {:git-credentials-in [{:user-name "git-test-user"
                               :host "github.com"
                               :protocol :ssh}]
         :credential-store-in [{:host "github.com"
                                :orga-path "DomainDrivenArchitecture"
                                :repo-name "additional-password-store"
                                :protocol :https
                                :server-type :github}]}
 :expected {:test-user
            {:user-email "test-user@mydomain"
             :credential
             [{:user-name "git-test-user"
               :host "github.com"
               :protocol :ssh}]
             :repo
             {:books
              [{:host "github.com"
                :orga-path "DomainDrivenArchitecture"
                :repo-name "ddaArchitecture"
                :protocol :ssh
                :server-type :github}]}
             :synced-repo
             {:credential-store [{:host "github.com"
                                  :orga-path "DomainDrivenArchitecture"
                                  :repo-name "additional-password-store"
                                  :protocol :https
                                  :server-type :github}]
              :desktop-wiki []}}}}
